/*
#nav12 {
	background-color:#508afc;
	margin:auto;
	padding: 0px;
}
.bg {
  background: url('background1.jpg') no-repeat;
  position: fixed;
background-size:cover;
  width:100%;
  height: 350px;
  top:0;
  left:0;
  z-index: -1; }

.btn {
	background-color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}*/


.bg {
  background: url('background1.jpg') no-repeat;
  position: fixed;
background-size:cover;
  width:100%;
  height: 350px;
  top:0;
  left:0;
  z-index: -1; }

.jumbotron{
	text-align: center;
	background:transparent;
	font-family: Arial;
	margin-bottom: 15px;
	color:#FFFFFF ;
	font-style:bold;

}
.button1 {
	background-color:#fdc082;
	text-align:center;
	padding: 10px;
	-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
	margin:auto;
}
.button2 {
	background-color:#fdc082;
	text-align:center;
	padding: 10px;
	-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
	margin:auto;
}

p{
	display: inline-block;
}
body{
	margin:0px;
}
.col{
margin-bottom: 10px;
}

h2 {
  color: #0000FF;
}
h1{
	color:#000FFF;
}
