
#nav12 {
	background-color: #525476;
}

#pic1 {
	width: 70px;
	height: 70px;
}

#pic2 {
	width: 300px;
	height: 70px;
}

/*#nav12 .navbar-brand {
	color: white;
	font-family: "Abadi MT Condensed Extra Bold"; 
}*/

