body{
	background-color: white;
}

.vertical-menu {
	height: 800px;
    width: 300px; /* Set a width if you like */
    background-color: #80ccff; 
    float:left;
}

.vertical-menu img {
    margin-top: 30px;
    margin-left: 50px;
	height: 100px;
	width: 100px;

}

h2, h5 {
	font-family: "Abadi MT Condensed Extra Bold"; 
}


